In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [6]:
cityDataFile = "./raw_data/city_data.csv"
rideDataFile = "./raw_data/ride_data.csv"

cityData_df = pd.read_csv(cityDataFile)
rideData_df = pd.read_csv(rideDataFile)

print(cityData_df)

                     city  driver_count      type
0              Kelseyland            63     Urban
1              Nguyenbury             8     Urban
2            East Douglas            12     Urban
3           West Dawnfurt            34     Urban
4          Rodriguezburgh            52     Urban
5       South Josephville             4     Urban
6        West Sydneyhaven            70     Urban
7             Travisville            37     Urban
8             Torresshire            70     Urban
9               Lisaville            66     Urban
10              Mooreview            34     Urban
11             Smithhaven            67     Urban
12            Carrollfort            55     Urban
13        Port Josephfurt            28     Urban
14       Lake Jeffreyland            15     Urban
15            South Louis            12     Urban
16             West Peter            61     Urban
17        Kimberlychester            13     Urban
18             Alyssaberg            67     Urban
19               Sarabury            46     Urban
20            Yolandafurt             7     Urban
21            Edwardsbury            11     Urban
22        New Andreamouth            42     Urban
23              New David            31     Urban
24             Arnoldview            41     Urban
25           Williamshire            70     Urban
26               Lisatown            47     Urban
27              New Aaron            60     Urban
28            Swansonbury            64     Urban
29             Fosterside            69     Urban
..                    ...           ...       ...
96               New Lynn            20  Suburban
97              Port Jose            11  Suburban
98               Johnland            13  Suburban
99              West Tony            17  Suburban
100            Port James             3  Suburban
101          Campbellport            26  Suburban
102          Port Guytown            26  Suburban
103           Webstertown            26  Suburban
104             Clarkstad            21  Suburban
105       North Tracyfort            18  Suburban
106           Martinmouth             5  Suburban
107      New Jessicamouth            22  Suburban
108  South Elizabethmouth             3     Rural
109         East Troybury             3     Rural
110             Kinghaven             3     Rural
111          New Johnbury             6     Rural
112              Erikport             3     Rural
113           Jacksonfort             6     Rural
114           Shelbyhaven             9     Rural
115           Matthewside             4     Rural
116          Kennethburgh             3     Rural
117          South Joseph             3     Rural
118         Manuelchester             7     Rural
119           Stevensport             6     Rural
120         North Whitney            10     Rural
121          East Stephen             6     Rural
122           East Leslie             9     Rural
123        Hernandezshire            10     Rural
124             Horneland             8     Rural
125        West Kevintown             5     Rural

[126 rows x 3 columns]

In [24]:
x = cityData_df.groupby(["type"])
x.head()

                     city  driver_count      type
0              Kelseyland            63     Urban
1              Nguyenbury             8     Urban
2            East Douglas            12     Urban
3           West Dawnfurt            34     Urban
4          Rodriguezburgh            52     Urban
66            Carrollbury             4  Suburban
67         Williamchester            26  Suburban
68       New Michelleberg             9  Suburban
69              West Evan             4  Suburban
70     South Gracechester            19  Suburban
108  South Elizabethmouth             3     Rural
109         East Troybury             3     Rural
110             Kinghaven             3     Rural
111          New Johnbury             6     Rural
112              Erikport             3     Rural

In [37]:
combData = pd.merge(cityData_df,rideData_df,how='left',on=['city','city'])
print(combData)

                city  driver_count   type                 date   fare  \
0         Kelseyland            63  Urban  2016-08-19 04:27:52   5.51
1         Kelseyland            63  Urban  2016-04-17 06:59:50   5.54
2         Kelseyland            63  Urban  2016-05-04 15:06:07  30.54
3         Kelseyland            63  Urban  2016-01-25 20:44:56  12.08
4         Kelseyland            63  Urban  2016-08-09 18:19:47  17.91
5         Kelseyland            63  Urban  2016-10-24 15:15:46  33.56
6         Kelseyland            63  Urban  2016-06-06 13:54:23  20.81
7         Kelseyland            63  Urban  2016-08-10 07:02:40  44.53
8         Kelseyland            63  Urban  2016-07-05 17:37:13  29.02
9         Kelseyland            63  Urban  2016-04-25 02:18:31  20.05
10        Kelseyland            63  Urban  2016-01-25 08:47:09   9.29
11        Kelseyland            63  Urban  2016-11-10 01:57:14  20.58
12        Kelseyland            63  Urban  2016-08-15 11:55:02  27.45
13        Kelseyland            63  Urban  2016-08-01 10:51:49  33.51
14        Kelseyland            63  Urban  2016-04-13 12:07:08   6.56
15        Kelseyland            63  Urban  2016-01-12 22:51:21  20.19
16        Kelseyland            63  Urban  2016-05-31 01:05:31  35.22
17        Kelseyland            63  Urban  2016-07-13 16:53:07  10.31
18        Kelseyland            63  Urban  2016-01-07 07:15:41  11.45
19        Kelseyland            63  Urban  2016-04-09 13:17:27  27.85
20        Kelseyland            63  Urban  2016-06-30 01:59:04   8.27
21        Kelseyland            63  Urban  2016-04-20 05:36:59  31.67
22        Kelseyland            63  Urban  2016-05-02 05:55:28  40.92
23        Kelseyland            63  Urban  2016-06-22 06:54:57  12.58
24        Kelseyland            63  Urban  2016-06-18 06:03:03  16.77
25        Kelseyland            63  Urban  2016-01-09 20:28:56  27.21
26        Kelseyland            63  Urban  2016-07-22 19:28:21  35.71
27        Kelseyland            63  Urban  2016-11-26 02:34:57  15.49
28        Nguyenbury             8  Urban  2016-07-09 04:42:44   6.28
29        Nguyenbury             8  Urban  2016-11-08 19:22:04  19.49
...              ...           ...    ...                  ...    ...
2377     East Leslie             9  Rural  2016-04-13 04:30:56  40.47
2378     East Leslie             9  Rural  2016-04-26 02:34:30  45.80
2379     East Leslie             9  Rural  2016-04-05 18:53:16  44.78
2380     East Leslie             9  Rural  2016-11-13 10:21:10  15.71
2381     East Leslie             9  Rural  2016-03-06 06:10:40  51.32
2382     East Leslie             9  Rural  2016-03-04 10:18:03  13.43
2383     East Leslie             9  Rural  2016-11-28 09:09:15  37.76
2384     East Leslie             9  Rural  2016-09-08 19:19:38  30.59
2385     East Leslie             9  Rural  2016-03-02 22:09:34  36.61
2386     East Leslie             9  Rural  2016-06-22 07:45:30  34.54
2387  Hernandezshire            10  Rural  2016-02-20 08:17:32  58.95
2388  Hernandezshire            10  Rural  2016-06-26 20:11:50  28.78
2389  Hernandezshire            10  Rural  2016-01-24 00:21:35  30.32
2390  Hernandezshire            10  Rural  2016-03-05 10:40:16  23.35
2391  Hernandezshire            10  Rural  2016-04-11 04:44:50  10.41
2392  Hernandezshire            10  Rural  2016-06-26 11:16:28  26.29
2393  Hernandezshire            10  Rural  2016-11-25 20:34:14  38.45
2394  Hernandezshire            10  Rural  2016-11-20 17:32:37  26.79
2395  Hernandezshire            10  Rural  2016-02-24 17:30:44  44.68
2396       Horneland             8  Rural  2016-07-19 10:07:33  12.63
2397       Horneland             8  Rural  2016-03-22 21:22:20  31.53
2398       Horneland             8  Rural  2016-01-26 09:38:17  21.73
2399       Horneland             8  Rural  2016-03-25 02:05:42  20.04
2400  West Kevintown             5  Rural  2016-11-27 20:12:58  12.92
2401  West Kevintown             5  Rural  2016-02-19 01:42:58  11.15
2402  West Kevintown             5  Rural  2016-03-11 09:03:43  42.13
2403  West Kevintown             5  Rural  2016-06-25 08:04:12  24.53
2404  West Kevintown             5  Rural  2016-07-24 13:41:23  11.78
2405  West Kevintown             5  Rural  2016-06-15 19:53:16  13.50
2406  West Kevintown             5  Rural  2016-02-10 00:50:04  34.69

            ride_id
0     6246006544795
1     7466473222333
2     2140501382736
3     1896987891309
4     8784212854829
5     4797969661996
6     9811478565448
7     1563171128434
8     6897992353955
9     1148374505062
10     213692794373
11    3395682132130
12    8456148871668
13    6610565660737
14    8101498434215
15    3054122642867
16    5946467060438
17    2180910323678
18     600800386573
19    5748868894243
20    4384089549855
21    2865704421982
22    2769007541388
23    6629798205387
24    7223504701591
25     831362906446
26    1234880130185
27    5187807155760
28    1543057793673
29    1702803950740
...             ...
2377  7075058703398
2378  9402873395510
2379  6113138249150
2380  7275986542384
2381  6841691147797
2382  8814831098684
2383   804829686137
2384  8211833105097
2385  5500269118478
2386   684950063164
2387  3176534714830
2388  6382848462030
2389  7342649945759
2390  7443355895137
2391  9823290002445
2392   304182959218
2393  2898512024847
2394  3095402154397
2395  6389115653382
2396  8214498891817
2397  1797785685674
2398  5665544449606
2399  5729327140644
2400  6460741616450
2401  8622534016726
2402  4568909568268
2403  8188407925972
2404  2001192693573
2405  9577921579881
2406  9595491362610

[2407 rows x 6 columns]

In [39]:
z = combData[combData["type"] == 'Urban']
print(z)

              city  driver_count   type                 date   fare  \
0       Kelseyland            63  Urban  2016-08-19 04:27:52   5.51
1       Kelseyland            63  Urban  2016-04-17 06:59:50   5.54
2       Kelseyland            63  Urban  2016-05-04 15:06:07  30.54
3       Kelseyland            63  Urban  2016-01-25 20:44:56  12.08
4       Kelseyland            63  Urban  2016-08-09 18:19:47  17.91
5       Kelseyland            63  Urban  2016-10-24 15:15:46  33.56
6       Kelseyland            63  Urban  2016-06-06 13:54:23  20.81
7       Kelseyland            63  Urban  2016-08-10 07:02:40  44.53
8       Kelseyland            63  Urban  2016-07-05 17:37:13  29.02
9       Kelseyland            63  Urban  2016-04-25 02:18:31  20.05
10      Kelseyland            63  Urban  2016-01-25 08:47:09   9.29
11      Kelseyland            63  Urban  2016-11-10 01:57:14  20.58
12      Kelseyland            63  Urban  2016-08-15 11:55:02  27.45
13      Kelseyland            63  Urban  2016-08-01 10:51:49  33.51
14      Kelseyland            63  Urban  2016-04-13 12:07:08   6.56
15      Kelseyland            63  Urban  2016-01-12 22:51:21  20.19
16      Kelseyland            63  Urban  2016-05-31 01:05:31  35.22
17      Kelseyland            63  Urban  2016-07-13 16:53:07  10.31
18      Kelseyland            63  Urban  2016-01-07 07:15:41  11.45
19      Kelseyland            63  Urban  2016-04-09 13:17:27  27.85
20      Kelseyland            63  Urban  2016-06-30 01:59:04   8.27
21      Kelseyland            63  Urban  2016-04-20 05:36:59  31.67
22      Kelseyland            63  Urban  2016-05-02 05:55:28  40.92
23      Kelseyland            63  Urban  2016-06-22 06:54:57  12.58
24      Kelseyland            63  Urban  2016-06-18 06:03:03  16.77
25      Kelseyland            63  Urban  2016-01-09 20:28:56  27.21
26      Kelseyland            63  Urban  2016-07-22 19:28:21  35.71
27      Kelseyland            63  Urban  2016-11-26 02:34:57  15.49
28      Nguyenbury             8  Urban  2016-07-09 04:42:44   6.28
29      Nguyenbury             8  Urban  2016-11-08 19:22:04  19.49
...            ...           ...    ...                  ...    ...
1595  Alvarezhaven            21  Urban  2016-08-01 00:39:48   6.42
1596  Alvarezhaven            21  Urban  2016-09-01 22:57:12  18.09
1597  Alvarezhaven            21  Urban  2016-08-18 07:12:06  20.74
1598  Alvarezhaven            21  Urban  2016-04-04 23:45:50  14.25
1599  Alvarezhaven            21  Urban  2016-10-31 05:33:55  20.23
1600  Alvarezhaven            21  Urban  2016-05-26 11:36:48  39.28
1601  Alvarezhaven            21  Urban  2016-01-28 23:53:55   9.87
1602  Alvarezhaven            21  Urban  2016-04-25 08:50:08  31.82
1603  Alvarezhaven            21  Urban  2016-09-16 14:36:24  20.61
1604  Alvarezhaven            21  Urban  2016-03-16 22:24:17  31.08
1605  Alvarezhaven            21  Urban  2016-01-20 06:52:53  42.41
1606  Alvarezhaven            21  Urban  2016-06-25 22:46:06  24.16
1607  Alvarezhaven            21  Urban  2016-06-21 09:57:52  20.88
1608  Alvarezhaven            21  Urban  2016-09-23 21:51:59  17.67
1609  Alvarezhaven            21  Urban  2016-05-15 20:43:44  40.04
1610  Alvarezhaven            21  Urban  2016-06-11 23:45:52  43.34
1611  Alvarezhaven            21  Urban  2016-02-07 02:46:18  35.22
1612  Alvarezhaven            21  Urban  2016-01-21 07:25:48  22.83
1613  Alvarezhaven            21  Urban  2016-05-01 14:35:12  22.54
1614  Alvarezhaven            21  Urban  2016-05-20 12:26:56  42.00
1615  Alvarezhaven            21  Urban  2016-08-03 06:45:57   4.07
1616  Alvarezhaven            21  Urban  2016-01-25 06:02:25   5.16
1617  Alvarezhaven            21  Urban  2016-11-19 02:00:34   5.34
1618  Alvarezhaven            21  Urban  2016-02-15 11:14:12  31.74
1619  Alvarezhaven            21  Urban  2016-06-16 18:29:05  32.46
1620  Alvarezhaven            21  Urban  2016-03-16 02:01:15  33.62
1621  Alvarezhaven            21  Urban  2016-09-19 16:01:49  27.51
1622  Alvarezhaven            21  Urban  2016-05-16 15:33:14   6.45
1623  Alvarezhaven            21  Urban  2016-01-27 10:38:40   6.72
1624  Alvarezhaven            21  Urban  2016-07-04 04:28:22  33.31

            ride_id
0     6246006544795
1     7466473222333
2     2140501382736
3     1896987891309
4     8784212854829
5     4797969661996
6     9811478565448
7     1563171128434
8     6897992353955
9     1148374505062
10     213692794373
11    3395682132130
12    8456148871668
13    6610565660737
14    8101498434215
15    3054122642867
16    5946467060438
17    2180910323678
18     600800386573
19    5748868894243
20    4384089549855
21    2865704421982
22    2769007541388
23    6629798205387
24    7223504701591
25     831362906446
26    1234880130185
27    5187807155760
28    1543057793673
29    1702803950740
...             ...
1595  8394540350728
1596  1197329964911
1597   357421158941
1598  6431434271355
1599  4348900295000
1600  8878745717970
1601  2747592323442
1602  7948246793429
1603  8307812366044
1604  7413831046469
1605  7825539032352
1606  9047320468692
1607  9456788060940
1608  3829336915201
1609  1806812593131
1610  3938173695105
1611  5405756761666
1612  3565582370530
1613  6435260355302
1614  7852567608457
1615  6100187302721
1616  2233026076010
1617  1108172306544
1618  5487020911007
1619   858631473935
1620  8974645194719
1621  6282665852239
1622  8939751998750
1623  6152998520191
1624   306054352684

[1625 rows x 6 columns]

In [43]:
z['city'].value_counts()

Swansonbury         34
Port Johnstad       34
South Louis         32
Jacobfort           31
Williamshire        31
West Peter          31
Alvarezhaven        31
Arnoldview          31
Stewartview         30
West Brandy         30
West Oscar          29
West Dawnfurt       29
Carrollfort         29
Lisaville           28
New David           28
East Erin           28
New Andreamouth     28
Kelseyland          28
Edwardsbury         27
Port Samantha       27
Kimberlychester     27
Sandymouth          27
Smithhaven          27
Sarabury            27
Alyssaberg          26
Spencertown         26
Nguyenbury          26
Torresshire         26
Davistown           25
Lake Jennaton       25
                    ..
Fosterside          24
Rodriguezburgh      23
Russellport         23
Travisville         23
Lisatown            23
Port Josephfurt     22
New Aaron           22
Lake Sarashire      22
Antoniomouth        22
South Roy           22
East Douglas        22
New Christine       22
Lake Stevenbury     21
South Bryanstad     21
Maryside            21
Davidtown           21
West Jefferyfurt    21
Mooreview           21
Port Martinberg     21
West Alexis         20
Yolandafurt         20
New Maryport        20
Pearsonberg         20
Wiseborough         19
Aprilchester        19
Eriktown            19
Kellershire         19
West Sydneyhaven    18
Pamelahaven         15
Vickimouth          15
Name: city, Length: 66, dtype: int64

In [ ]:
z(g)